@charset "UTF-8";
* {
  user-select: none;
  user-modify: none;
}

body {
  color: #E9EAEE;
  background: #202125;
  font-family: "Open Sans", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  user-select: none;
  overscroll-behavior: contain;
}

.text {
  padding: 0 24px 80px;
  box-sizing: border-box;
  overflow: auto;
}

#textTitle {
  margin: 24px 0 12px;
  font-size: 1.9em;
  color: #fff;
}

h3 {
  margin: 24px 0 12px;
  font-size: 1.15em;
  color: #fff;
}

.text p {
  font-size: 1.15em;
  line-height: 1.5;
  margin: 12px 0 6px;
}

.text b {
  font-size: 14.72px;
  position: relative;
  top: -4px;
  font-weight: 700;
}

.text.selectable * {
  user-select: text;
}

#footerExt {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #2D2E30;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-around;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.13, 1.03, 0.39, 0.98) bottom;
}

#footerExt.active {
  bottom: 56px;
}

.footerExtNavIcon {
  height: 56px;
  width: 56px;
  flex: 0 0 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerExtNavIcon path {
  transition: 0.3s ease fill;
}
.footerExtNavIcon .footerExtNavIconLabel {
  transition: 0.3s ease color;
}

.footerExtNavIcon.active path, .navIcon.active path {
  fill: #4DD0E1;
}
.footerExtNavIcon.active .footerExtNavIconLabel, .navIcon.active .footerExtNavIconLabel {
  color: #4DD0E1;
}

.footerExtNavIconWrapper {
  width: 56px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerExtNavIconLabel {
  width: 56px;
  flex: 0 0 14px;
  font-size: 11px;
  padding-bottom: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9BA0A6;
}

#footerNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #2D2E30;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.navIcon {
  height: 56px;
  width: 56px;
  flex: 0 0 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#kabobIcon {
  transition: 0.2s ease transform;
}

#kabobIcon.rotated {
  transform: rotate(90deg);
}

.browseLink {
  height: 56px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.browseLinkBox {
  border-radius: 12px;
  border: 2px solid #9BA0A6;
  margin: 12px;
  width: 100%;
  height: 34px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s cubic-bezier(0.13, 1.03, 0.39, 0.98), color 0.3s cubic-bezier(0.13, 1.03, 0.39, 0.98);
}

.browseLinkBox.active {
  background: #9BA0A6;
}
.browseLinkBox.active .browseLinkBoxTitle {
  color: #2D2E30;
}

.browseLinkBoxTitle {
  margin: 4px;
  padding: 0;
  color: #9BA0A6;
}

.chapPicker {
  position: fixed;
  bottom: 0;
  margin: 0 12px;
  width: calc(100% - 24px);
  background: #2D2E30;
  border-radius: 12px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease visibility, 0.2s ease opacity, 0.2s cubic-bezier(0.13, 1.03, 0.39, 0.98) bottom;
}

.chapPicker.active {
  visibility: visible;
  opacity: 1;
  bottom: 68px;
}

.chapPickerLinksWrapper {
  padding: 12px 0;
  margin: 0 12px;
  height: 336px;
  overflow: hidden;
  position: relative;
  transition: 0.3s cubic-bezier(0.13, 1.03, 0.39, 0.98) height;
  display: flex;
}

.chapLinksHeaderWrapper {
  width: 100%;
  padding-left: 24px;
  margin: 0;
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
}

.chapPickerLinks {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
  height: inherit;
  min-height: min-content;
  padding: 12px 0;
  align-content: flex-end;
  transition: 0.3s cubic-bezier(0.13, 1.03, 0.39, 0.98) left, 0.3s cubic-bezier(0.13, 1.03, 0.39, 0.98) top;
}

.chapPickerLinks#chapterLinks {
  align-content: flex-start;
}

.chapPickerLinks.left {
  left: -100%;
}

.chapPickerLinks.up {
  top: -100%;
}

.chapPickerLinks.right {
  left: 100%;
}

.chapPickerLinks.down {
  top: 100%;
}

.chapLinkWrapper {
  width: 100%;
  height: calc(100% - 32px);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.chapLink {
  width: 16.667%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapLink.active {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.chapLink.active .chapLinkText {
  color: #4DD0E1;
}

.chapLinkText {
  font-size: 1.05em;
  margin: 0;
}

.chapPickerTabs {
  display: flex;
  height: 48px;
  box-sizing: border-box;
  border-top: 0.5px solid rgba(255, 255, 255, 0.15);
}

.chapPickerTab {
  width: 50%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.chapPickerTabText {
  font-size: 1.15em;
  margin: 0;
  height: 100%;
  width: calc(100% - 36px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 700;
  padding-bottom: 2px;
}

.chapPickerTab.active {
  color: #4DD0E1;
}
.chapPickerTab.active .chapPickerTabText {
  border-bottom: 2px solid #4DD0E1;
  padding-bottom: 0;
}

.history {
  position: fixed;
  bottom: 0;
  right: 12px;
  margin: 0 12px;
  width: calc(50% - 24px);
  background: #2D2E30;
  border-radius: 12px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease visibility, 0.2s ease opacity, 0.2s cubic-bezier(0.13, 1.03, 0.39, 0.98) bottom;
}

.history.active {
  visibility: visible;
  opacity: 1;
  bottom: 68px;
}

.historyTitle {
  width: 100%;
  font-size: 1.15em;
  padding: 12px;
  margin: 0;
  box-sizing: border-box;
}

.historyEntryWrapper {
  overflow: auto;
  max-height: 300px;
  border-radius: 0 0 12px 12px;
}

.historyEntry {
  width: 100%;
  padding: 12px;
  margin: 0;
  box-sizing: border-box;
  border-top: 0.5px solid rgba(255, 255, 255, 0.15);
}

.pinWrapper {
  position: fixed;
  bottom: 56px;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding: 18px;
  box-sizing: border-box;
}

.pinWrapper.unseen {
  position: static;
  visibility: hidden;
  padding: 0;
}

.pin {
  display: flex;
  height: 34px;
  border-radius: 12px;
  background: #2D2E30;
  margin: 6px;
}

.pinText {
  display: flex;
  align-items: center;
  height: 34px;
  border-radius: 0 12px 12px 0;
  border: 2px solid #9BA0A6;
  box-sizing: border-box;
}
.pinText p {
  margin: 0 12px;
}

.pinIconWrapper {
  background: #9BA0A6;
  height: 34px;
  width: 34px;
  border-radius: 12px 0 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 2px;
}

.modalWrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease visibility, 0.3s ease opacity;
}

.modal {
  z-index: 3;
  width: calc(100% - 48px);
  background: #2D2E30;
  padding: 24px;
  margin-top: 96px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease visibility, 0.3s ease opacity, 0.3s cubic-bezier(0.13, 1.03, 0.39, 0.98) margin-top;
}
.modal .btn {
  float: right;
}

.modalTitle {
  margin: 0 0 12px;
}

.modalText {
  margin: 0 0 12px;
}

.textInputWrapper {
  width: 100%;
  margin-bottom: 12px;
}

.textInput {
  width: calc(100% - 26px);
  padding: 12px;
  margin: 12px 0 0;
  background: none;
  border: 1px solid #E9EAEE;
  border-radius: 3px;
  transition: 0.2s ease border-color;
  color: #E9EAEE;
  font-size: 1.2em;
}

.textInput:focus {
  border: 1px solid #4DD0E1;
  outline: none;
}

.textInput.error {
  border: 1px solid #E57373;
}

.textInput.error:active {
  border: 1px solid #E57373;
}

.inputError {
  color: #E57373;
  font-size: 0.75em;
  margin: 0 0 0 5px;
  visibility: hidden;
}

.inputError.active {
  visibility: visible;
}

#passkeyFieldLabel {
  display: none;
}

.modalWrapper.active {
  visibility: visible;
  opacity: 1;
}
.modalWrapper.active .modal {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 410px) {
  .browseLinkBoxTitle {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 380px) {
  .browseLinkBoxTitle {
    font-size: 0.7em;
  }
}
.ripple-effect {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  z-index: 1;
}

.ripple-effect .ripple {
  display: block;
  position: absolute;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  pointer-events: none;
}

.ripple-effect .animated {
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
.btn {
  background: #4DD0E1;
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 1.5rem;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 3px;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
}

.btn:hover {
  text-decoration: none;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
}

/* text.css -- styles for the ESV text. */
/* passage chunking should be inlined. Paragraphs will handle spacing. */
.esv-text {
  display: inline;
}

.esv-text span.indent {
  padding-left: 2em;
  display: inline-block;
}

/* flow up (inherits display:inline), so paragraph doesn't break e.g. Matt. 4:5 */
.esv-text p.same-paragraph {
  text-indent: 0;
}

.esv-text span.end-line-group {
  display: block;
  height: 1em;
}

.esv-text span.begin-line-group {
  display: block;
  height: 1em;
}

.esv-text h3 + span.begin-line-group {
  display: none;
}

.esv-text h4 + span.begin-line-group {
  display: none;
}

.esv-text span.end-line-group + span.begin-line-group {
  display: none;
}

/* poetry, first line.
    Padding is set for increased indent if the line wraps,
    text-indent offsets the padding at the beginning of the line.
    The 0 margins prevent extra space from having a paragraph on every line.
    e.g. Psalm 1 */
.esv-text p.line {
  margin: 0;
  text-indent: -3.5em;
  padding-left: 5.5em;
  clear: both;
}

/* poetry, indented sectioned line. See p.line for explanation of indent and padding.
    e.g. Psalm 1 */
.esv-text p.indent {
  text-indent: -4em;
  padding-left: 7em;
}

/* poetry, second degree of indent. e.g.  */
.esv-text p.indent-2,
.esv-text p.psalm-doxology {
  text-indent: -5em;
  padding-left: 9em;
}

/* block indent for "declares the LORD" after quote block e.g. Jeremiah 1:8 */
.esv-text p.declares {
  text-indent: -2em;
  padding-left: 11em;
}

/* small caps used for LORD e.g. Psalm 4:5 */
span.small-caps, span.divine-name {
  font-variant: small-caps;
}

/* style for selah in poetry e.g. Psalm 4 */
.esv-text span.selah {
  text-align: right;
  font-style: italic;
  margin-right: 1em;
  margin-left: 1em;
}

/* Jeremiah 50 */
.esv-text p.extra-space {
  margin-top: 1em;
}

/* see following specifics */
.esv-text h4 {
  font-weight: normal;
  padding-left: 2.5em;
}

/* denotation of speaker e.g. Song of Solomon 1:2 */
.esv-text h4.speaker {
  font-variant: small-caps;
  margin-bottom: 0em;
  font-size: 0.9em;
  padding-left: 5em;
  width: 10em;
  text-align: center;
}

/* Note about the text/manuscripts e.g. john 7:53 */
.esv-text h4.textual-note {
  font-variant: small-caps;
  font-size: 0.9em;
  margin-top: 0.4em;
}

/* Titles of the acrostic in Psalm 119 */
.esv-text h4.psalm-acrostic-title {
  font-variant: small-caps;
  margin-bottom: 0em;
  font-size: 0.9em;
  padding-left: 5em;
  width: 10em;
  text-align: center;
}

/* small caps and margin for psalm titles e.g. Psalm 4 */
.esv-text h4.psalm-title {
  font-variant: small-caps;
  font-size: 0.9em;
  line-height: 1.2em;
  margin-bottom: 0.3em;
  position: relative;
}

/* style for positioning of footnote number. e.g. John 1:4 */
.esv-text span.footnote {
  font-size: 0.7em;
  padding-right: 0.3em;
  padding-left: 0.1em;
  vertical-align: top;
}

/* style for positioning of cross reference */
/* style for footnotes header at bottom, only appears with infinite scroll off e.g. John 1 */
/* individual footnotes */
/* bold reference to related verse */
/* style for text copyright statement (doesn't display on site, only on API output) */
/* style for audio flash object */
/* if a paragraph starts a chapter, or it's john 8 (which flows up text from 7:53), then don't indent it
    e.g. John 2, John 8
 */
.esv-text p.starts-chapter, .esv-text p.john8 {
  text-indent: 0;
}

/* style for next and previous chapters nav list when infinite scroll is off */
.esv-text ul {
  width: auto;
}

.esv-text ul.surrounding-chapters li {
  display: inline;
  list-style-type: none;
}

/* style for positioning chapter numbers */
.esv-text span.chapter-num {
  color: #b4b4b4;
  font-family: serif;
  float: left;
  font-size: 3em;
  margin: 15px -0.1em 0 0;
  position: relative;
  text-indent: 0;
}

.esv-text p.line span.chapter-num {
  font-size: 2.3em;
  left: 0px;
  text-indent: 0;
  width: 55px;
  margin-top: -4px;
  position: absolute;
  text-align: center;
  top: auto;
}

/* verse-num-woc is deprecated, hook is now class="verse-num woc" */
/* style for positioning verse numbers */
.esv-text span.verse-num {
  color: #b36c38;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  padding-right: 0.15em;
  font-weight: bold;
  vertical-align: top;
}

/* verse numbers display at far left if  */
.esv-text p.line span.verse-num {
  padding-left: 0;
}

/* verse numbers in poetry should be on the left */
.esv-text p.line .verse-num {
  position: absolute;
  left: 20px;
  text-indent: 0;
}

.esv-text p.virtual {
  display: inline;
  text-indent: 0;
}

.esv-text p.line p.virtual {
  display: block;
  margin-left: 0;
  padding-left: 2.5em;
  text-indent: 0;
}

.esv-text ul.surrounding-chapters li:before {
  content: "| ";
}

.esv-text ul.surrounding-chapters li:first-child:before {
  content: "Â« ";
}

.esv-text ul.surrounding-chapters li:last-child:after {
  content: " Â»";
}

.esv-text ul.surrounding-days {
  padding-left: 0;
}

.esv-text ul.surrounding-days li {
  display: inline;
  list-style-type: none;
}

.esv-text ul.surrounding-days:before {
  content: "Â« ";
}

.esv-text ul.surrounding-days li:last-child:after {
  content: " Â»";
}

.esv-text ul.surrounding-days li:last-child:before {
  content: "| ";
}

.esv-text small.audio {
  color: #284f57;
}

.esv-text small.audio:hover {
  color: #849eA2;
}

.esv-text span.chapter_audio {
  display: none;
}

.esv-text h2.small {
  margin: -29px 0 0 0;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: #393939;
  font-size: 10.5px;
  font-weight: bold;
  padding: 7px;
  text-transform: uppercase;
  float: left;
  display: inline;
}

.esv-text div.footnotes, .esv-text ul {
  padding: 10px 0 10px 25px;
  -moz-border-radius: 3px 3px 3px 3px;
  border: 1px solid #c7c5c5;
  margin: 20px 0 20px 0;
}

.esv-text .footnotes h3 {
  color: #b36c38;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 300;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
